*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    text-align:center;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.logo{
    width: 400px;
}

.tela{
    width: 700px;
}

button{
    border-bottom: 10px;
    width: 15%;
    font-size: 18px;
    border-radius: 12px;
    color: rgb(44, 6, 109);
    cursor: pointer;
}

.botao1{
    display: flex;
    justify-content: end;
}

h1{
    text-decoration: none;
    font-size: 40px;
    text-align:center;
}

.botao2{
   display: flex;
   justify-content: center;
}